@{
    ViewBag.Title = "HomePage";
}

<div>
    <p>
        <b>Propensity Tracker:</b><i>It helps you manage habits and track daily activities efficiently. Whether it's tracking exercise routines, study habits, or personal goals, our application simplifies the process with intuitive features.</i>
    </p>
</div>

<div class="form-container">
    <h2 class="form-title">Welcome to Propensity Tracker</h2>
    <div class="button-group">
        @Html.ActionLink("Log in", "Login", null, new { @class = "btn btn-custom" })
        @Html.ActionLink("Register", "Register", null, new { @class = "btn btn-custom" })
    </div>
    @if (TempData["Registered"] != null)
    {
        <p style="color:green; margin-top: 10px;">@TempData["Registered"]</p>
    }
</div>
